body {
  /* display: grid; */
  background-color: var(--cor0);
  margin: 0px;
  padding: 0px;
  font-family: roboto;
  max-width: 1500px;
}
:root {
  --cor0: #ebe5c5;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;
  --cor6: #06402b;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
}
span {
  color: var(--cor4);
  font-weight: bold;
}
p {
  line-height: 2.5rem;
}
main h1 {
  font-family: idroid;
  color: var(--cor5);
}

main h2 {
  background: linear-gradient(to right, var(--cor1), transparent);
  font-family: idroid;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}
header {
  display: grid;
  margin: 0px;
  background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.6);
}
img {
  display: block;
  max-width: 100%;
}
main {
  background-color: #fff;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
main p {
  text-indent: 30px;
  font-size: 1.3rem;
}
aside {
  background-color: var(--cor1);
  margin-top: 40px;
  border-radius: 20px;
}
aside h3 {
  padding: 20px;
  background-color: var(--cor4);
  color: #fff;
  border-radius: 20px 20px 0px 0px;
}
aside p {
  padding: 10px;
  margin: 10px;
}

.menu h1 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 4rem;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 10px;
}
.principal a {
  color: var(--cor5);
  background-color: var(--cor2);
  border-radius: 5px;
  padding: 2px;
  position: relative;
}
.menu p {
  margin: 20px;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-weight: bold;
}

.nav1 a {
  gap: 40px;
  padding: 10px;
  font-size: 1.2rem;
  color: #fff;
}
.nav1 a:hover {
  color: var(--cor2);
  background-color: var(--cor3);
  padding: 10px;
  border-radius: 5px;
}
.bugdroid {
  justify-items: center;
}
.versao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}

.versao li {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.versao li::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("./pacote-projeto-d010/imagens/ok-svgrepo-com.svg");
  background-size: contain;
  margin-right: 8px;
}
.bg {
  background-color: var(--cor5);
  margin: -20px;
}
.container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.principal a::after {
  content: url("./pacote-projeto-d010/imagens/link-external-02-svgrepo-com.svg");
  margin: 10px;
  position: relative;
}
footer {
  font-size: 1rem;
  background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
  padding: 10px;
  text-align: center;
}
@media (max-width: 800px) {
  main p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}
@media (max-width: 800px) {
  .dandroids {
    content: url("./pacote-projeto-d010/imagens/dan-droids-pq.png");
  }
  .irina {
    content: url("./pacote-projeto-d010/imagens/irina-blok-pq.jpg");
  }
}
@media (max-width: 800px) {
  .principal h1 {
    font-size: 1.4rem;
    text-align: center;
  }
  .versao {
    grid-template-columns: 1fr;
  }
  .versao li {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .versao p {
    font-size: 0.6rem;
    line-height: 1rem;
  }
  aside h3 {
    text-align: center;
  }
}
